.App {
  min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background-color: #282c34;
}
.container {
  align-items: center;
  font-size: 20px;
  display: flex;
  padding: 20px;
  height: 80vh;
  flex-direction: column;
  border: 1px solid whitesmoke;
  color:white
}

button{
  border: none;
  padding: 5px;
  border-radius: 20px;
  margin: 0 5px;
}

.allTodos{
  list-style: none;
  margin: 0;
  padding: 0;
}
.eachTodo{
  border-radius: 30px;
  margin: 10px 0;
  background-color: pink;
  padding: 5px ;
  display: flex;
  width: 350px;
  align-items: center; 

}.textTodo{
  flex:1;

}

.task{
  color:pink
}